.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

  /* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
}

.row.content {height:auto;} 
}

.dynamic_right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.static_left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .box {
    height:100vh;
  }

  .center {
    margin: auto;
    width: 100%;
    border-radius: 25px;
    height: 80%;
  }

  
  .center2 {
    border-radius: 35px;

    /* border: 3px solid green; */
    /* padding: 10px; */
  }
