.contents_heeman {
  font-family: 'Montserrat', sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.contents_heeman h3,
.contents_heeman h4,
.contents_heeman h5,
.contents_heeman h6 {
  color: #3e4555;
}

.contents_heeman p {
  font-size: 20px;
  color: #000000;
}

.contents_heeman h4 {
  line-height: 28px;
  font-size: 26px;
}

.contents_heeman h5 {
  line-height: 22px;
  font-size: 22px;
}

.contents_heeman ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.contents_heeman ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}

.contents_heeman .subtitle {
  line-height: 24px;
  margin: 0 0 20px 0;
}
