.zoom-my-card {
    transition: transform .2s;
}

.zoom-my-card:hover {
    transform: scale(1.06);
}

.footer-custom {
    background-color: white !important;
    border-top: 0 none !important;
}

.header-color {
    color: rgb(100, 98, 98);
}
