#darkMode {
  filter: grayscale(100%);
  border: none;
  border-radius: 30%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: #005cbf;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: #005cbf;
}
