.profilecard {
    max-width: 90% !important;
    min-width: 500px !important;
    max-height: 98%;
}


.card-hf-color {
    background-color: rgb(255, 255, 255) !important;
}

.profile-image {
    max-width: 120%;
    max-height: 100%;
    margin-top: 20px;
}

.sectionn {
    max-width: 80% !important;
    min-width: 700px !important;
}

.lowl {
    max-width: 85%;
}

/* <div className="profilecard float-left">
<img
    className="profile-image"
    src="https://i.imgur.com/PaOjJ3A.png"
/>
<h4 className="text-center">
    Here is all the information we have about you, feel free to contact us if something doesnot feel right
</h4>
</div> */

/* 
<Card className="card rounded-4 profilecard container float-right border-primary">

                                <Card.Header className="card-hf-color">
                                    <h1>
                                        Profile
                                    </h1>
                                </Card.Header>

                                <Card.Body>
                                    <form
                                        className="card-body"
                                        onSubmit={this.handleSubmit}
                                    >
                                        <div className="form-group">
                                            <div className="col-auto form-inline col-form-label">

                                                <label>
                                                    First Name
                                                </label>

                                                <OverlayTrigger
                                                    overlay={popover}
                                                    placement="right"
                                                    rootClose
                                                    trigger="click"
                                                >
                                                    {({ ref, ...triggerHandler }) => (
                                                        <div
                                                            className="btn m-0 p-0"
                                                            {...triggerHandler}
                                                        >
                                                    &nbsp;

                                                            <span
                                                                className="material-icons"
                                                                ref={ref}
                                                            >
                                                                help_outline
                                                            </span>
                                                        </div>
                                            )}
                                                </OverlayTrigger>

                                            </div>

                                            <div>
                                                <input
                                                    className="form-control col-auto"
                                                    disabled
                                                    onChange={this.handleChangeFirstName}
                                                    type='text'
                                                    value={this.state.First_Name}
                                                />
                                            </div>


                                        </div>

                                        <div className="form-group">
                                            <div className="col-auto form-inline col-form-label">

                                                <label>
                                                    Last Name
                                                </label>

                                                <OverlayTrigger
                                                    overlay={popover}
                                                    placement="right"
                                                    rootClose
                                                    trigger="click"
                                                >
                                                    {({ ref, ...triggerHandler }) => (
                                                        <div
                                                            className="btn m-0 p-0"
                                                            {...triggerHandler}
                                                        >
                                                        &nbsp;

                                                            <span
                                                                className="material-icons"
                                                                ref={ref}
                                                            >
                                                                help_outline
                                                            </span>
                                                        </div>)}
                                                </OverlayTrigger>

                                            </div>

                                            <div className="row-auto">
                                                <input
                                                    className="form-control col-auto"
                                                    disabled
                                                    onChange={this.handleChangeLastName}
                                                    type='text'
                                                    value={this.state.Last_Name}
                                                />
                                            </div>
                                        </div>

                                        <div className="form-group">
                                            <label className="col-auto form-inline col-form-label">
                                                Email Address
                                            </label>

                                            <div>
                                                <input
                                                    className="form-control col-auto"
                                                    disabled
                                                    type='text'
                                                    value={this.state.email}
                                                />
                                            </div>
                                        </div>

                                        <div className="form-group">
                                            <label className="col-auto form-inline col-form-label">
                                                Telegram Username
                                            </label>

                                            <div>
                                                <input
                                                    className="form-control col-auto"
                                                    onChange={this.handleChangeHandle}
                                                    placeholder={this.state.Handle}
                                                    type='text'
                                                    value={this.state.Handle}
                                                />
                                            </div>
                                        </div>

                                        <div className="form-group">
                                            <label className="col-auto col-form-label mr-1">
                                                Degree:
                                                <select
                                                    className="form-control col-auto form-select m-2 p-6"
                                                    onChange={this.handleChangeDegree}
                                                    value={this.state.degree}
                                                >
                                                    <option
                                                        selected
                                                        value=""
                                                    >
                                                        ---Select Degree---
                                                    </option>

                                                    <option value="M" >
                                                        M-Tech
                                                    </option>

                                                    <option value="B">
                                                        B-Tech
                                                    </option>
                                                </select>
                                            </label>

                                            <label className="col-auto col-form-label ml-1">
                                                Course:
                                                <select
                                                    className="form-control col-auto form-select m-2 p-6"
                                                    onChange={this.handleChangeCourse}
                                                    value={this.state.course}
                                                >
                                                    <option
                                                        selected
                                                        value=""
                                                    >
                                                        ---Select Course---
                                                    </option>

                                                    <option value="CSAI">
                                                        CSAI
                                                    </option>

                                                    <option value="CSE">
                                                        CSE
                                                    </option>

                                                    <option value="CSB">
                                                        CSB
                                                    </option>

                                                    <option value="CSD">
                                                        CSD
                                                    </option>

                                                    <option value="CSS">
                                                        CSS
                                                    </option>

                                                    <option value="CSAM">
                                                        CSAM
                                                    </option>

                                                    <option value="ECE">
                                                        ECE
                                                    </option>

                                                </select>
                                            </label>

                                        </div>
                                    </form>
                                </Card.Body>

                                <Card.Footer className="card-hf-color">
                                    <button
                                        className="btn btn-lg btn-primary col-5"
                                        onClick={this.handleSubmit.bind(this)}
                                        type="button"
                                    >
                                        Submit
                                    </button>
                                </Card.Footer>

                            </Card> */