.btn-outline-info {
    color: #6c757d;
    outline-color: #005cbf;
}

.Custom-form-dialog {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding-top: 30px;
    padding-left: 40px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

.btn {
    margin: 5px;
}