.account {
    font-size: 18px;
}

.material-icons{
    font-size: 19px;
}

.jumbotron{
    background-size: cover;
    padding-bottom: 15px;
    padding-top: 10px;
}

.link-collab {
  color:rgb(128, 128, 128);
}
.link-collab:hover {
   color: rgb(170, 170, 170);
   text-decoration: none!important;
}