.cardHfColor {
    background-color: rgb(255, 255, 255) !important;
}

.customModalFooterP {
    border-top: 0 none !important;
    background-color: rgba(255, 255, 255, 0.918) !important;
}

.lowwl {
    max-width: 70% !important;
}