@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

@include media-breakpoint-up(lg) {
  .floating_right_card {
    position: sticky;
    top: 5rem;
    right: 0;
  }
}
