@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.main-contents {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.main-contents h1,
.main-contents h2,
.main-contents h3,
.main-contents h4,
.main-contents h5,
.main-contents h6 {
  color: #3e4555;
}


.main-contents .p {
  font-size: 20px;
}

.main-contents h4 {
  line-height: 28px;
  font-size: 26px;
}

.main-contents h5 {
  line-height: 22px;
  font-size: 22px;
}

ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);

}

.main-contents .subtitle {

  line-height: 24px;
  margin: 0 0 20px 0;
}

.instagram:hover {
  color: #fd0061;
}

.github:hover {
  color: #000000;
}