@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.contents-heeman {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.contents-heeman h3,
.contents-heeman h4,
.contents-heeman h5,
.contents-heeman h6 {
  color: #3e4555;
}


.contents-heeman .p {
  font-size: 20px;
  color: #000000;
}

.contents-heeman h4 {
  line-height: 28px;
  font-size: 26px;
}

.contents-heeman h5 {
  line-height: 22px;
  font-size: 22px;
}

.contents-heeman ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.contents-heeman ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);

}

.contents-heeman .subtitle {

  line-height: 24px;
  margin: 0 0 20px 0;
}

.instagram:hover {
  color: #fd0061;
}

.github:hover {
  color: #000000;
}

.linkedin:hover {
  color: #0442b6;
}