.card-pieChart{
    width:auto;
    height:440px;
}

.main-profile{
    height:300px;
    width:auto;
}

.card-profile-title{
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: larger;
}

.main-profile-footer{
    border-top: none!important;
}

.card-votes{
    height:440px;
    width:auto;
}

.card-empty{
    height:440px;
    width:auto;
}

.card-trending{
    height:440px;
    width:auto;
}