.firstSection{
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 10px;

}
.firstsectionInner{
    padding:10px;
}

.firstsectionInnerleft{
    margin-top: 1.5%;
    width: 40%;
}

.firstsectionInnerright{
    padding-top: 1%;
    width: 60%;
}

.firstsectionInnertext{
    font-size: 30px !important;
}

.firstsectionHeading{
    font-size:25px; 
    margin-left: 3rem;

}

.firstsectionMiddle{
    margin-left: 4rem;
    margin-right: 4rem;
}

.secondSection{
    padding:10px;
}

.secondsectionInner{
    padding:10px;
}

.secondsectionInnerleft{
    margin-top: 2.5%;
    width: 40%;
}

.secondsectionInnerright{
    width: 60%;
}

.secondsectionHeading{
    font-size:30px;
    margin-left: 3rem;
}


.secondsectionMiddle{
    margin-left: 4rem;
    margin-right: 4rem;
}

.thirdsectionInner{
    padding:10px;
}

.fourthsectionInner{
    padding:10px;
}

.thirdsectionHeading{
    font-size:30px;
}

.thirdsectionHeading{
    font-size:25px; 
    margin-left: 3rem;
}

.thirdsectionMiddle{
    margin-left: 4rem;
    margin-right: 4rem;
}

.fourthsectionHeading{
    font-size:25px; 
    margin-left: 3rem;
}

.fourthsectionMiddle{
    margin-left: 4rem;
    margin-right: 4rem;
}


@media (max-width: 800px) {
    .firstSection{
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 10px;
    }
    
    .firstsectionInner{
        padding:10px;
    }
    
    .firstsectionInnerleft{
        margin-top: 2.5%;
        width: 100%;
    }
    
    .firstsectionInnerright{
        width: 100%;
        text-align: center;
    }

    .firstsectionInnerheading{
        font-size: 30px !important;
        text-align: center;
    }

    .firstsectionInnertext{
        font-size: 15px !important;
        padding-top: 20px !important;
    }

    .secondSection{
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 10px;
    }
    
    .secondsectionInner{
        padding:10px;
    }
    
    .secondsectionInnerleft{
        margin-top: 2.5%;
        width: 40%;
    }
    
    .secondsectionInnerright{
        width: 60%;
    }

    .secondsectionHeading{
        font-size:25px;
        margin-left: 0rem !important;
    }
   
    .secondsectionMiddle{
        margin-left:3rem;
        margin-right: 3rem;
    }

    .thirdSection{
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 10px;
    }
    
    .thirdsectionInner{
        padding:10px;
    }
    
    .thirdsectionInnerleft{
        margin-top: 2.5%;
        width: 40%;
    }
    
    .thirdsectionInnerright{
        width: 60%;
    }

    .thirdsectionHeading{
        font-size:25px;
        margin-left: 1rem !important;
    }
   
    .thirdsectionMiddle{
        margin-left:3rem;
        margin-right: 3rem;
    }

    .fourthSection{
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 10px;
    }
    
    .fourthsectionInner{
        padding:10px;
    }
    
    .fourthsectionInnerleft{
        margin-top: 2.5%;
        width: 40%;
    }
    
    .fourthsectionInnerright{
        width: 60%;
    }

    .fourthsectionHeading{
        font-size:25px;
        margin-left: 1rem !important;
    }
   
    .fourthsectionMiddle{
        margin-left:3rem;
        margin-right: 3rem;
    }

}