@import '~rfs/scss';

.clubcard{
    position: fixed;
    padding-left: 2em;
}

.clubBox {
    padding-left: 4.5em;
}

.leftCard1, .leftCard2 {
    width: 72em;
}

.coordinators, .memberSize {
    font-size: 20px;
}

.tagline {
    font-size: 20px;
    padding-bottom: 2px;
}

.descriptionHeading, .announcementsHeading {
    font-size: 33px;
    text-align: center;
    padding-bottom: 5px;
}

.description {
    font-size: 18px;
}

.notifications {
    font-size: 18px;
}

.notificationHeading {
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 800px) {

    .clubcard{
        position: relative;
        margin: 1em 1em 1em 0em;
    }

    .coordinators, .memberSize {
        font-size: 15px;
    }

    .descriptionHeading {
        font-size: 18px;
        text-align: center;
        padding-bottom: 3px;
    }

    .announcementsHeading {
        font-size: 18px;
        text-align: left;
        padding-bottom: 3px;
    }

    .leftCard1, .leftCard2 {
        width: 18em;
    }

    .description {
        font-size: 15px;
    }

    .notifications {
        font-size: 15px;
    }

    .notificationHeading {
        font-size: 15px;
        font-weight: bold;
    }

    .tagline {
        font-size: 15px;
        padding-bottom: 2px;
    }
}
