.cardCenter{
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top:1px;
    padding-bottom:1px;
}






@media (max-width: 800px) {

    .cardCenter{
        width: 100%;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-top:1px !important;
        padding-bottom:1px !important;
    }
    

    .cardinner{
        padding: 0px;
        margin: 0px;
    }
    .title{
        font-size:15px;
    }



}