.cardCenter{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top:1px;
    padding-bottom:1px;
}

.title{
        font-size:30px;
    }

.subtitle{
        font-size:20px;
    }

@media (max-width: 800px) {

    .cardCenter{
        width: 90% !important;
        /* margin-left: 1rem !important;
        margin-right: 1rem !important;
        padding-top: 1px !important;
        padding-bottom:1px !important; */
    }

    .cardinner{
        padding: 4px;
        margin: 0px;
    }

    .title{
        font-size:15px;
    }

    .text2{
        font-size:13px !important;
    }
}