

.balls {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #18216d;
    margin: 0 6px 0 0;
    animation: oscillate 0.7s ease-in forwards infinite;
    animation-name: oscillate;
}

.one {
    animation-delay: -0.5s;
}

.two {
    animation-delay: -1s;
}

.three {
    animation-delay: -1.5s;
}



@keyframes oscillate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
